<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact CarelyTeam</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

        body {
            width: 100%;
            height: 100%;
            background-color: aqua;
        }

        h1 {
            font-family: 'Roboto', sans-serif;
        }

        p {
            font-size: 1.5rem;
        }
    </style>
</head>

<body>
    <h2>{{ firstname }} {{ lastname }}</h2>
    <p>Votre compte a bien été supprimé</p>
</body>

</html>